<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vylo.main">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <!-- A camera with burst capability is required to use this application -->
    <uses-feature android:name="android.hardware.camera.any" />

    <application>
        <activity
            android:name=".activity.presentation.activity.MainFlawActivity"
            android:exported="false"
            android:label="@string/title_activity_main_flaw"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:requestLegacyExternalStorage="true"
            android:theme="@style/Theme.Vylo.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <!-- FileProvider used to share media with other apps -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
        <service android:name="com.vylo.common.util.TimerService"/>
    </application>

</manifest>